
.loading-container {
  margin: 30px 0;
}

.statusMessage {
  text-align: center;
  margin-top: 1rem;
}

.statusMessage::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 2s infinite;
  animation: ellipsis steps(4, end) 2s infinite;
  content: '\2026';
  width: 0;
  margin-right: 20px;
  margin-left: 0.25rem;
}

.slds-spinner_container {
  position: relative !important;
  display: block;
  min-height: 2rem;
  background: none !important;
}

.maximize-height {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  left: 50%;
  height: 100%;
}

.center-illustration {
  position: relative;
  top: 25%;
}

.slds-card {
  margin-top: 8px;
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
    margin-right: 0;
  }
  from {
    width: 0;
    margin-right: 20px;
  }
}

@keyframes ellipsis {
  to {
    width: 20px;
    margin-right: 0;
  }
  from {
    width: 0;
    margin-right: 20px;
  }
}
